## Creating Functions for the model analysis

In [19]:
def clean_join_model(a:str, b): 
    df_join_model = clean_model_fuel(a, b).merge(clean_model_state(a, b), on='model')
    return df_join_model

In [20]:
# Displaying up to 100 columns
pd.set_option('display.max_columns', 100)

In [21]:
from table_function import clean_join_model_default
df_model_analysis = clean_join_model_default()
df_model_analysis

,manufacturer_x,model,tsn,power_kw,fuel_type,drive_type,body_type,total,motorhomes,private_owners,owners_under_29_years,owners_over_60_years,female_owners,year_x,manufacturer_y,year_y,federal_state,new_registration
0,BMW,"i3s,i3",BSI,75.0,E,NaN,,2788,0,1120,14,304,311,2017,BMW,2017,Baden-Württemberg,471
1,BMW,"i3s,i3",BSI,75.0,E,NaN,,2788,0,1120,14,304,311,2017,BMW,2017,Bayern,1024
2,BMW,"i3s,i3",BSI,75.0,E,NaN,,2788,0,1120,14,304,311,2017,BMW,2017,Berlin,101
3,BMW,"i3s,i3",BSI,75.0,E,NaN,,2788,0,1120,14,304,311,2017,BMW,2017,Brandenburg,56
4,BMW,"i3s,i3",BSI,75.0,E,NaN,,2788,0,1120,14,304,311,2017,BMW,2017,Bremen,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2222,VOLVO (S),"XC40,C40",BTE,160.0,E,A,,1217,0,262,4,137,67,2021,VOLVO (S),2021,Sachsen,12
2223,VOLVO (S),"XC40,C40",BTE,160.0,E,A,,1217,0,262,4,137,67,2021,VOLVO (S),2021,Sachsen-Anhalt,6
2224,VOLVO (S),"XC40,C40",BTE,160.0,E,A,,1217,0,262,4,137,67,2021,VOLVO (S),2021,Schleswig-Holstein,45
2225,VOLVO (S),"XC40,C40",BTE,160.0,E,A,,1217,0,262,4,137,67,2021,VOLVO (S),2021,Thüringen,7
2226,VOLVO (S),"XC40,C40",BTE,160.0,E,A,,1217,0,262,4,137,67,2021,VOLVO (S),2021,special,0

In [22]:
df_model_analysis.columns

Index(['manufacturer_x', 'model', 'tsn', 'power_kw', 'fuel_type', 'drive_type',
       'body_type', 'total', 'motorhomes', 'private_owners',
       'owners_under_29_years', 'owners_over_60_years', 'female_owners',
       'year_x', 'manufacturer_y', 'year_y', 'federal_state',
       'new_registration'],
      dtype='object')

In [23]:
df_model_analysis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5406 entries, 0 to 2226
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   manufacturer_x         5406 non-null   object
 1   model                  5406 non-null   object
 2   tsn                    5406 non-null   object
 3   power_kw               5406 non-null   float64
 4   fuel_type              5406 non-null   object
 5   drive_type             4114 non-null   object
 6   body_type              4165 non-null   object
 7   total                  5406 non-null   int64
 8   motorhomes             5406 non-null   int64
 9   private_owners         5406 non-null   int64
 10  owners_under_29_years  5406 non-null   int64
 11  owners_over_60_years   5406 non-null   int64
 12  female_owners          5406 non-null   int64
 13  year_x                 5406 non-null   int64
 14  manufacturer_y         5406 non-null   object
 15  year_y                 5406 non-null   int64
 16  federal_state          5406 non-null   object
 17  new_registration       5406 non-null   int64
dtypes: float64(1), int64(9), object(8)
memory usage: 802.5+ KB

In [24]:
df_model_analysis.drop(['manufacturer_y', 'year_y', 'motorhomes', 'drive_type', 'body_type'], axis=1, inplace=True)

In [25]:
df_model_analysis.head(1)

,manufacturer_x,model,tsn,power_kw,fuel_type,total,private_owners,owners_under_29_years,owners_over_60_years,female_owners,year_x,federal_state,new_registration
0,BMW,"i3s,i3",BSI,75.0,E,2788,1120,14,304,311,2017,Baden-Württemberg,471

In [26]:
df_model_analysis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5406 entries, 0 to 2226
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   manufacturer_x         5406 non-null   object
 1   model                  5406 non-null   object
 2   tsn                    5406 non-null   object
 3   power_kw               5406 non-null   float64
 4   fuel_type              5406 non-null   object
 5   total                  5406 non-null   int64
 6   private_owners         5406 non-null   int64
 7   owners_under_29_years  5406 non-null   int64
 8   owners_over_60_years   5406 non-null   int64
 9   female_owners          5406 non-null   int64
 10  year_x                 5406 non-null   int64
 11  federal_state          5406 non-null   object
 12  new_registration       5406 non-null   int64
dtypes: float64(1), int64(7), object(5)
memory usage: 591.3+ KB

In [ ]:
# Saving the df as a csv file in this Repo on GitHub 
df_model_analysis.to_csv('model_analysis_clean.csv', index=False)